<div class="blade-content" ng-controller="altsoft.shopifyImportModule.shopifyImportParamsController">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="list __items">
                <label class="list-item">
                    <input type="checkbox" ng-model="blade.importConfiguration.importCollections">
                    <span class="switch"></span>
                    <span class="list-name">Collections</span>
                </label>

                <label class="list-item">
                    <input type="checkbox" ng-model="blade.importConfiguration.importProducts">
                    <span class="switch"></span>
                    <span class="list-name">Products</span>
                </label>

                <label class="list-item" ng-show="blade.importConfiguration.importProducts">
                    <input type="checkbox" ng-model="blade.importConfiguration.importImages">
                    <span class="switch"></span>
                    <span class="list-name">Images</span>
                </label>

                <label class="list-item" ng-show="blade.importConfiguration.importProducts">
                    <input type="checkbox" ng-model="blade.importConfiguration.importProperties">
                    <span class="switch"></span>
                    <span class="list-name">Properties</span>
                </label>
                <label class="list-item">
                    <input type="checkbox" ng-model="blade.importConfiguration.importCustomers">
                    <span class="switch"></span>
                    <span class="list-name">Customers</span>
                </label>
                <label class="list-item">
                    <input type="checkbox" ng-model="blade.importConfiguration.importOrders">
                    <span class="switch"></span>
                    <span class="list-name">Orders</span>
                </label>
                <label class="list-item">
                    <input type="checkbox" ng-model="blade.importConfiguration.importThemes">
                    <span class="switch"></span>
                    <span class="list-name">Themes</span>
                </label>
            </div>
        </div>
    </div>
    <div class="blade-static __bottom">
        <button class="btn" ng-click="startImport(blade.importConfiguration)" ng-disabled="!isValid()">
            <span>Start import</span>
        </button>
    </div>
</div>

