<div class="blade-content blade-medium">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="container-fluid" ng-controller="virtoTargetCatalogController">
                <div class="margin20" style="width: 500px;">
                    <h4 class=" margin15 text-muted">Select Virto target catalog and category</h4>
                    <hr />

                    <!-- Magento Target Catalog Form -->
                    <form class="margin15" name="form" novalidate style="width: 450px;">
                        <!-- Catalog -->
                        <div class="form-group margin10">
                            <div class="input-group">
                                <span class="input-group-addon w-50">Catalog</span>
                                <select class="form-control" ng-model="selectedCatalog" ng-options="catalog.name for catalog in catalogs"></select>
                            </div>
                        </div>

                        <!-- Category -->
                        <div class="form-group margin10">
                            <div class="input-group">
                                <span class="input-group-addon w-50">Category</span>
                                <select class="form-control" ng-model="selectedCategory" ng-options="category.name for category in categories"></select>
                            </div>
                        </div>

                        <div class="checkbox margin15">
                            <label>
                                <input type="checkbox" ng-model="isRetainCategoryHierarchy">Retain All Catalog and Category Hierarchy
                            </label>
                        </div>

                        <!-- Next Step -->
                        <button class="btn btn-default pull-right margin10" ng-hide="errorMessage" ng-disabled="form.$invalid || blade.isLoading && selectedCategory" ng-click="nextStep()">
                            Proceed to Next Step
                            <span class="glyphicon glyphicon-log-in margin5"></span>
                        </button>
                    </form>

                    <br /><br /><br />
                    <hr ng-show="errorMessage" />
                    <pre class="bg-danger padding5" ng-show="errorMessage">{{errorMessage}}</pre>
                </div>
            </div>
        </div>
    </div>
</div>